@page "/contato"

<div class="container">

    <h1>Contato</h1>

    <div class="item">
        <span>Email</span>
        <p>victorcardosoferreirahenrique@gmail.com</p>
    </div>

    <div class="item">
        <span>GitHub</span>

        <a href="github.com/victor-henrique-cardoso" target="_blank">
            github.com
        </a>
    </div>

</div>

<style>

    .container {
        min-height: 100vh;
        background: #0b1120;
        color: white;
        font-family: Arial;
        padding: 70px 30px;
    }

    h1 {
        font-size: 50px;
        margin-bottom: 50px;
    }

    .item {
        margin-bottom: 35px;
    }

    span {
        display: block;
        color: #94a3b8;
        margin-bottom: 8px;
        font-size: 14px;
    }

    p, a {
        color: white;
        font-size: 22px;
        text-decoration: none;
    }

        a:hover {
            color: #cbd5e1;
        }

</style>