@page "/sobre"

<div class="container">

    <h1>Sobre Mim</h1>

    <p>
        Meu nome é Victor Henrique e sou desenvolvedor Full Stack.
        Gosto de criar aplicações modernas, funcionais e com interfaces simples.
    </p>

    <p>
        Trabalho principalmente com Flutter, C#, React
        e também estudo cibersegurança e automação.
    </p>

    <p>
        Atualmente desenvolvo projetos pessoais,
        sistemas acadêmicos e iniciativas como a AgroNexis,
        startup voltada para tecnologia no agronegócio.
    </p>

</div>

<style>

    .container {
        min-height: 100vh;
        background: #0b1120;
        color: white;
        font-family: Arial;
        padding: 70px 30px;
    }

    h1 {
        font-size: 50px;
        margin-bottom: 35px;
    }

    p {
        max-width: 800px;
        line-height: 1.9;
        margin-bottom: 25px;
        color: #cbd5e1;
        font-size: 18px;
    }

</style>